.main-nav{
    display: inline-block;
    text-align: right;
    width:calc(100% - 74px);
   
}

.main-nav-items{
    margin: 0;
    padding: 0;
}

.main-nav_item{
    display: inline-block;
    font-size: 20px;
    padding: 0px 10px;
    
}

.main-nav_item a{
    color:rgb(6, 37, 3);
    text-decoration: none;

}
.main-nav_item a:hover{
    color:rgb(247, 247, 247);
}

.main-nav_item a:active{
    color:red;
}

.main-nav_brand{
    color:rgb(6, 37, 3);
    text-decoration: none;
    font-size:24px;
    text-shadow: 4px 4px 4px rgb(224, 51, 51);
    font-weight: bold;
}


.main-nav{
    display: inline-block;
    text-align: right;
    width:calc(100% - 74px);
   
}

.main-nav-items{
    margin: 0;
    padding: 0;
}

.main-nav_item{
    display: inline-block;
    font-size: 20px;
    padding: 0px 10px;
    
}

.main-nav_item a{
    color:rgb(6, 37, 3);
    text-decoration: none;

}
.main-nav_item a:hover{
    color:rgb(247, 247, 247);
}

.main-nav_item a:active{
    color:red;
}

.main-nav_brand{
    color:rgb(6, 37, 3);
    text-decoration: none;
    font-size:24px;
    text-shadow: 4px 4px 4px rgb(224, 51, 51);
    font-weight: bold;
}




.main-header{
    background-color: green;
    width:100%;
    padding: 5px;
    margin: 5px;
    }
    
    .main-header > div{
        display: inline-block
    }
    


.main-footer{
    background-color: black;
    padding: 32px;
    margin-top:48px;
}

.main-footer__links{
list-style-type: none;
margin: 0%;
padding: 0%;
text-align: center;

}

.main-footer__link{

    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a{
text-decoration: none;
color:white
}

.main-footer__link a:hover{
color:red;
    
    }


    .button{
        background: #023d0f;
        color:white;
        font:inherit;
        border:1.5px solid #023d0f;
        border-radius: 8px ;
        padding: 8px;
        cursor: pointer;
        font-weight: bold;
        }
        
        
        .button:hover,.button:active{
            color:#023d0f;
            background:white;
        }