

/* h1{
   color: black;
  
} */

#section1{
    /* background-color: #ff1b68; */
    background-image: url('./images/freedom.jpg');
    width: 100%;
    height:500px;
    border:2px solid gray;
    margin:5px;
    padding: 5px;
}

.section-title{
    color:green;
    text-align: center;
}



.plan{
    background-color:#d5ffdc;
    text-align: center;
    padding: 16px;
    margin:16px;
    display: inline-block;
    width:27%;
    vertical-align: middle;
    
}



.plan--highlighted{
 
    background-color: #19b83c;
    color:white;

    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5)
}

.plan__annotation{

    background: white;
    color:#f86008;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan__features{
    list-style-type: none;
    margin-right: 10%;
}

.plan__feature {
    margin: 8px 0;
}

.plan__title{
color:rgb(2, 71, 2)
}

.plan__price{
color:rgb(66, 63, 63)
}



#key-features{
    background: #ff1b68;
    margin-top: 32px;
}

#key-features .section-title{
    color:white;
    padding: 80px;
}

.key-features__list{
    list-style:none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.key-feature{
    display:inline-block;
    width:30%;
    vertical-align: top;
}

.key-features__description{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size:20px;
}

.key-features__image{
    background: #f89fbc;
    width:128px;
    height: 128px;
    border:1px solid black;
    border-radius: 50%;
    margin:auto;
}

