.package{
    width:80%;
    
    border:2px solid green;
    margin: 15px 10%;
    
   
}

.package:hover,
.package:active{
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-color:#ff4545
}

.package a{
    text-decoration: none;
    display: block;
    padding: 12px;
}

.package-subtitle{
    color:rgb(65, 62, 62);
   
}

.package-info{
    padding: 10px;
    border:1px solid gray;
    font-size: 20px;
    background-color: white;
    color:green;
    text-align: center;

}

#plus{
    background-color: rgb(163, 224, 163);
}

#free{
    background-color: rgb(105, 204, 105);
}

#premium{
    background-color: rgb(4, 58, 4);
} 

#premium .package-title{
    color:white;
}

#premium .package-subtitle{
    color:#bbb;
}